In [8]:
print("hello world!")

hello world!

In [13]:
%time a = range(10)

CPU times: user 8 µs, sys: 1 µs, total: 9 µs
Wall time: 12.6 µs

In [ ]:
%%timeit 
a = range(10)
min(a)

输入一个数字，并打印！

In [29]:
a = input("输入：")
print(a)

输入：44
44

In [30]:
import pandas as pd
import numpy as np

In [33]:
pd.DataFrame(np.random.randn(7,4),index=pd.date_range("2019-03-01",periods=7),columns=list("ABCD"))

                   A         B         C         D
2019-03-01  0.140537 -0.989284 -0.867864 -0.383963
2019-03-02 -0.194635 -0.007117 -0.940432 -1.509642
2019-03-03 -0.134343 -0.336237 -1.410787 -0.596844
2019-03-04 -0.589825 -0.270904  0.821911 -1.883400
2019-03-05  0.225883  0.448022 -1.627832 -1.672090
2019-03-06  0.856025 -0.277771 -0.303818 -1.158541
2019-03-07  0.313531  1.771114  1.081093  1.074839